<!DOCTYPE html>
<html ng-app="KozelApp">
  <head>
    <meta charset="utf-8">
    <title>Kozel</title>

    <link rel="stylesheet" href="static/vendor/css/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="static/vendor/css/normalize.css" type="text/css">
  </head>
  <body>

    <div ng-view></div>

    <script type="text/javascript" src="static/vendor/js/angular.min.js"></script>
    <script type="text/javascript" src="static/vendor/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="static/vendor/js/restangular.min.js"></script>
    <script type="text/javascript" src="static/vendor/js/underscore-min.js"></script>
    <script type="text/javascript" src="static/vendor/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/vendor/js/bullet.js"></script>

    <script type="text/javascript" src="static/js/app.js"></script>
  </body>
</html>
